In [1]:
import cudf

In [2]:
from constants import list_of_states

In [3]:
nodes_df = []
edges_df = []
DATA_DIR = "../data/"

In [4]:
for state in list_of_states:
    nodes_df.append(cudf.read_parquet(f"{DATA_DIR}{state}-nodes.parquet"))
    edges_df.append(cudf.read_parquet(f"{DATA_DIR}{state}-edges.parquet"))

In [6]:
nodes = cudf.concat(nodes_df)

In [7]:
nodes

                  x          y      vertex
0        -86.433247  32.456082    51579274
1        -86.433142  32.455951    51579275
2        -86.433032  32.455838    51579277
3        -86.432973  32.455787    51579279
4        -86.432909  32.455739    51579281
...             ...        ...         ...
1385720 -105.517261  44.246595  8143811876
1385721 -105.517258  44.246926  8143811877
1385722 -105.524050  44.247029  7556741242
1385723 -105.525864  44.246510  8143867625
1385724 -105.529342  44.246805  8143867626

[228548129 rows x 3 columns]

In [8]:
del(nodes_df)

In [9]:
edges = cudf.concat(edges_df)

In [10]:
del(edges_df)

In [11]:
nodes.to_parquet(f"{DATA_DIR}us-nodes.parquet")

In [12]:
edges.to_parquet(f"{DATA_DIR}us-edges.parquet")