In [ ]:
# US streets Graph data

In [1]:
import cudf

In [2]:
DATA_DIR = "../data/"

In [6]:
nodes = cudf.read_parquet(f"{DATA_DIR}us-nodes.parquet")
nodes

                    x          y      vertex
0          -86.433247  32.456082    51579274
1          -86.433142  32.455951    51579275
2          -86.433032  32.455838    51579277
3          -86.432973  32.455787    51579279
4          -86.432909  32.455739    51579281
...               ...        ...         ...
228548124 -105.517261  44.246595  8143811876
228548125 -105.517258  44.246926  8143811877
228548126 -105.524050  44.247029  7556741242
228548127 -105.525864  44.246510  8143867625
228548128 -105.529342  44.246805  8143867626

[228548129 rows x 3 columns]

In [5]:
edges = cudf.read_parquet(f"{DATA_DIR}us-edges.parquet")
edges

                  src         dst  length
0            51579274    51579275  17.585
1            51579275    51579277  16.260
2            51579277    51579279   7.925
3            51579279    51579281   8.034
4            51579281    51579283   7.966
...               ...         ...     ...
240373954  8143811876  2666164285  17.437
240373955  2666164285  8143811877  19.304
240373956  7556741243  7556741242  20.132
240373957  2666164274  8143867625  18.975
240373958  1536524340  8143867626  18.842

[240373959 rows x 3 columns]